*.class
/SystemaAdministracionLeon/SystemaAdministracionLeon-ejb/target/
/SystemaAdministracionLeon/SystemaAdministracionLeon-web/target/
/SystemaAdministracionLeon/SystemaAdministracionLeon-ear/target/